/*
字体大小 (通过 font-size 属性设置
然而你在调整字体大小时，最常用的单位是：

    px (像素): 将像素的值赋予给你的文本。这是一个绝对单位， 它导致了在任何情况下，
    页面上的文本所计算出来的像素值都是一样的。

    ems: 1em 等于我们设计的当前元素的父元素上设置的字体大小 (更加具体的话，比如包含在父元素中的大写字母 M 的宽度)
    如果你有大量设置了不同字体大小的嵌套元素，这可能会变得棘手, 但它是可行的，如下图所示。
    为什么要使用这个麻烦的单位呢? 当你习惯这样做时，那么就会变得很自然，你可以使用em调整任何东西的大小，
    不只是文本。你可以有一个单位全部都使用 em 的网站，这样维护起来会很简单。

    rems: 这个单位的效果和 ems 差不多，除了 1rem 等于 HTML 中的根元素的字体大小， (
    i.e. <html>) ，而不是父元素。这可以让你更容易计算字体大小，但是遗憾的是，
    rems 不支持 Internet Explorer 8 和以下的版本。
    如果你的项目需要支持较老的浏览器，你可以坚持使用ems 或 px,
     或者是 polyfill 就像 REM-unit-polyfill. （这个单位在“CSS的值和单位”一节也有讲解

     元素的 font-size 属性是从该元素的父元素继承的。
     所以这一切都是从整个文档的根元素——<html>开始，浏览器的 font-size 标准设置的值为 16px。
     在根元素中的任何段落 (或者那些浏览器没有设置默认大小的元素)，会有一个最终的大小值：16px。
     其他元素也许有默认的大小，比如 <h1> 元素有一个 2ems 的默认值，所以它的最终大小值为 32px。
*/
html {
    font-size: 10px;
}

h1 {
    font-size: 2.6rem;
}

p {
    font-size: 1.4rem;
    color: red;
    font-family: Helvetica, Arial, sans-serif;
}